<div>

  <div class="container">
    <p-card header="Find Companies Currently hiring!">
      <p class="m-0">
        Given a date range search for companies which are hiring. This denotes how many number of posts are madde by users
        on leetcode regarding that compnay in that time range.
    </p-card>

  </div>

  <div class="search-filter-container">
    <app-overlay-loading [show]="isLoading"></app-overlay-loading>
    <form [formGroup]="formGroup">
      <p-dropdown
        formControlName="selectedTimeRange"
        [options]="timeRanges"
        optionLabel="label"
        placeholder="Select Date Range">
      </p-dropdown>
    </form>
    <div class="btn">
      <p-button label="Search" (click)="onSearch()"/>
    </div>
  </div>
  <div>
    <company-table [companyData]="companiesData"></company-table>

  </div>
</div>





