.container {
  display: flex;
  gap: 20px; /* This adds space between the components */
}

.search-filter-container{
   display: flex;
   justify-content: left;
   padding-top: 10px;
   padding-bottom: 10px;
}

.btn{
  padding-left: 10px;
}
