<div class="search-filter-container">
  <app-overlay-loading [show]="isLoading"></app-overlay-loading>
   <mat-form-field>
    <mat-label>Date Range</mat-label>
    <mat-select [formControl]="options">
      <mat-option *ngFor="let option of optionList" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div class ="btn">
  <button mat-raised-button  (click)="onSearch()">
    Search
  </button>
</div>
</div>
<div>
  <company-table [companyData]="companiesData" ></company-table>
</div>
