<div class="card">
  <p-table [value]="companyData" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Company Name</th>
              <!-- <th>Hiring Rate</th> -->
              <th>Number of Posts</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
          <tr>
              <td>{{company.companyName}}</td>
              <!-- <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" /></td> -->
              <td>{{company.numberOfPosts}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div *ngIf="companyData.length >0" class="flex align-items-center justify-content-between">
              In total there are {{companyData ? companyData.length : 0 }} companies hiring.
          </div>
      </ng-template>
  </p-table>
</div>

